<div class="container">
	<input type="search" ng-model="searchQuery" placeholder = "Search..." >
	<div class="panel panel-default" ng-repeat="note in data.notes | filter: searchQuery">
		<div class="panel-heading"><div class="row">
				<div class="col-xs-3">

					{{note.course}}
				</div>
				<div class="col-xs-3">

					{{note.topic}}
				</div>
				<div class="col-xs-3">

					{{note.poster}}
				</div>
				<div class="col-xs-3">

					{{note.date}}
				</div>
			</div>
		</div>
		<div class="panel-body">
			<span ng-repeat="path in note.filePaths">
				<img ng-src="http://localhost:8888/uploadedFiles/{{path}}"
				style="width: 100px; height: 100px;"/>
			</span>
		</div>
	</div>
</div>