<div class="container" ng-controller="allNotesCtrl" style="margin-top:30px; min-height: 100vh">
	

	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-offset-1 col-sm-2">Search:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="poster" placeholder="Course, topic, date" ng-model="searchQuery">
			</div>
			<div class="col-sm-1">
				<button type="button" class="btn btn-primary" ng-click="clearSearch()">Clear search</button>
			</div>
		</div>
	</form>

	<button type="button" class="btn btn-success" ng-click="refreshData()">Refresh Data</button>

	<div class="row">

		<div class="col-sm-6" style="padding: 15px" ng-repeat="note in data.notes | filter: searchQuery">
			<div class="note-box">
				<div class="row">
					<div class="col-xs-6">
						<h3><a ng-click="setQuery(note.course)">{{note.course}}</a></h3>
						<h4><a ng-click="setQuery(note.topic)">{{note.topic}}</a></h4>
					</div class="col-sm6">
					<div class="col-sm-6">
						<h5>Dated <a ng-click="setQuery(note.date)">{{note.date}}</a></h5>
						<h5>Posted by <a ng-click="setQuery(note.poster)">{{note.poster}}</a></h5>
					</div class="col-sm6">
				</div>
				<div class="row">
					<span ng-repeat="path in note.filePaths" style="padding: 15px">
						<a href="{{baseURL}}/uploadedFiles/{{path}}" target="_blank"><img ng-src="{{baseURL}}/uploadedFiles/{{path}}"
						class="note-pic"/></a>
					</span>
				</div>



			</div>

		</div>
	</div>

</div>


