	<div class="container" ng-controller="postNotesCtrl">
		<h2>Search for notes</h2>
		<div class="row">
			<div class="col-xs-3">
				<div class="dropdown">
			<label>Search By:</label>
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Class</a></li>
				<li><a href="#">Poster</a></li>
			</ul>
		</div>
			</div>
			<div class="col-xs-8">
				<div class="form-group">
			<input type="text" class="form-control" placeholder="eg. ECE106, Jeff">
		</div>
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-success">Search</button>
			</div>
		</div>

		<h2>Post Notes</h2>
	</div>