<div class="container" ng-controller="postNotesCtrl" style="margin-top:30px; min-height: 100vh">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">Post notes</h1>
		</div>
	</div>

	<br><br>
	
	<div class="row">
		<div class="container">
			<form class="form-horizontal" role="form" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="poster">Poster</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="poster" placeholder="Enter name" ng-model="newNote.poster">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="date">Date</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="date" placeholder="Enter date" ng-model="newNote.date" datepicker>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Course</label>
					<div class="col-sm-6"> 
						<input type="text" class="form-control" id="course" placeholder="Enter course" ng-model="newNote.course">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Topic</label>
					<div class="col-sm-6"> 
						<input type="text" class="form-control" id="topic" placeholder="Enter topic" ng-model="newNote.topic">
					</div>
				</div>



				<div class="form-group"> 
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Upload Files</label>
					<div class="col-sm-3"> 
						<input type="file" multiple="multiple" name="file" id="filesToUpload" accept="image/*, application/pdf">
					</div>
					<div class="col-sm-3">
						Note: Only PDFs and images allowed.
					</div>
				</div>
				<br>

				

				<div class="form-group text-center"> 

					<button type="submit" class="btn btn-success"
					ng-click="uploadData()"><strong>Submit</strong></button>

				</div>

				<div ng-show="fileNames.length > 0" class="form-group"> 
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Files</label>
					<div class="col-sm-6"> 
					<ul style="list-style-type: none;">
						<li ng-repeat="name in fileNames">{{name}}</li>
						</ul>
					</div>
				</div>

				<div ng-show="errorMsg" class="alert alert-danger alert-dismissible fade in text-center" role="alert">
					<strong>Oops!</strong> {{errorMsg}}
				</div>
				<div ng-show="uploadedInvalidFile" class="alert alert-danger alert-dismissible fade in text-center" role="alert">
					<strong>Whoa!</strong> Invalid file type.
				</div>


			</form>
		</div>

	</div>

</div>
