<div class="container" ng-controller="postNotesCtrl" style="margin-top:30px; min-height: 100vh">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">Post notes</h1>
		</div>
	</div>

	<br><br>
	
	<div class="row">
		<div class="container">
		<form class="form-horizontal" role="form" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-sm-offset-1 col-sm-2" for="poster">Poster</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="poster" placeholder="Enter name" ng-model="newNote.poster">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-offset-1 col-sm-2" for="date">Date</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="date" placeholder="Enter date" ng-model="newNote.date" datepicker>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Course</label>
				<div class="col-sm-6"> 
					<input type="text" class="form-control" id="course" placeholder="Enter course" ng-model="newNote.course">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Topic</label>
				<div class="col-sm-6"> 
					<input type="text" class="form-control" id="topic" placeholder="Enter topic" ng-model="newNote.topic">
				</div>
			</div>

			

			<div class="form-group"> 
				<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">Upload Files</label>
				<div class="col-sm-6"> 
					<input type="file" multiple="multiple" name="file" id="filesToUpload">
				</div>
			</div>
			<br><br>

			

			<div class="form-group text-center"> 
		
					<button type="submit" class="btn btn-success"
					ng-click="uploadData()">Submit</button>

			</div>

			<span ng-show="errorMsg" class="error"><p class="text-center">{{errorMsg}}</p></span>

			<li ng-repeat="name in fileNames">{{name}}</li>
			
		</form>
	</div>

	</div>

</div>
