a {
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
}

.yellow-underline{
	border-bottom: 2px solid #f7f700;
}

.error{
	color: red;
}


body{
	width: 100%;
	height: 100%;
	padding: 0px;
}
html{
	background-color: #23859D;

}
.navbar{
	border: none;
	border-radius: 0px;
	background: #025e72;
	margin: 0px;
}

.navbar-link{
	color: white;
}

#separator{

	height: 50px;
	width: 50px;
}

#post-button{
	font-size: 2em;
}

.jumbotron{
	background-color: #23859D;
	height: 100%;
	margin: 0px;
	color: #FFFFFF;

}

.jumbotron a{
	color: white;
}

.jumbotron #jombo-text{
	color: #f7f700;
	font-family:'Roboto', sans-serif;
	font-size: 5em;
}

.jumbotron #main-text{
	font-family: 'Roboto';
}

.note-box{
	border: 1px solid #286090; 
	padding: 10px;
	border-radius: 2px;
	background-color: #FFFFFF;
	
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	

			    -webkit-transition: box-shadow 100ms ease-out 100ms;
    -moz-transition: box-shadow 100ms ease-out 100ms;
    -o-transition: box-shadow 100ms ease-out 100ms;
    transition: box-shadow 100ms ease-out 100ms;
}

.note-box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	

}

.note-pic{
	width: 170px; 
	height: auto; 
	border-radius: 2px; 
	margin: 10px;
}

.note-pic:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}